Source: lineak-xosdplugin
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (> 5), autotools-dev, automake1.7, autoconf, libtool, liblineak-dev (>= 1:0.9), lineakd (>= 1:0.9), libxosd-dev (>= 2.2.0), libx11-dev, libxext-dev, libxtst-dev, quilt
Build-Conflicts: autoconf2.13
Standards-Version: 3.8.3
Homepage: http://lineak.sourceforge.net

Package: lineak-xosdplugin
Architecture: any
Depends: lineakd (>= 1:0.9-1), ${shlibs:Depends}, ${misc:Depends}
Description: LinEAK On-Screen Display plugin
 LinEAK, Linux support for Easy Access and Internet Keyboards, features X11
 support, windowmanager independence, ability to configure all keys through
 GUI or .conf file, volume control and sound controls.
 .
 This plugin contains functions to display information like on-screen displays
 on TVs and monitors.
Source: lineak-xosdplugin
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (> 5), autotools-dev, automake1.7, autoconf, libtool, liblineak-dev (>= 1:0.9), lineakd (>= 1:0.9), libxosd-dev (>= 2.2.0), libx11-dev, libxext-dev, libxtst-dev, quilt
Build-Conflicts: autoconf2.13
Standards-Version: 3.8.3
Homepage: http://lineak.sourceforge.net

Package: lineak-xosdplugin
Architecture: any
Depends: lineakd (>= 1:0.9-1), ${shlibs:Depends}, ${misc:Depends}
Description: LinEAK On-Screen Display plugin
 LinEAK, Linux support for Easy Access and Internet Keyboards, features X11
 support, windowmanager independence, ability to configure all keys through
 GUI or .conf file, volume control and sound controls.
 .
 This plugin contains functions to display information like on-screen displays
 on TVs and monitors.
